*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Lato:wght@700&family=Oswald:wght@300&family=Roboto+Flex:opsz,wght@8..144,100&display=swap');

body{
    font-family: 'Mochiy Pop One', sans-serif;
    background-color: #00ABE1;
    color: white;

    overflow-x: hidden;

}

::selection{
    background: #161F6D;
}

.navbar{
    height: 10vh;
    background: hsl(0 0% 100% / 0.1);
    top: 0;
}

.flex{
    display: flex;
    gap: var(--gap, 1rem);
}

/* primary header */
.logo{
    margin-left: 1rem;
    margin-right: 1rem;
}

.mobile-nav-toggle{
    display: none;
}

.primary-header{
    align-items: center;
    justify-content: space-between;
}

.primary-navigation{
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links{
    text-decoration: none;
    color: white;
    font-family: 'Koulen', coursive;
    font-weight: 700;
    margin-inline-end: 0.75em;
}

.nav-links:hover{
    color: #161F6D;
}

@media (max-width: 55em) {
    .primary-navigation{
        --gap: 2em;

        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;

        flex-direction: column;
        padding: min(30vh, 10rem) 2em;

        background-color: hsl(0 0% 80% / 0.8);
        backdrop-filter: blur(1rem);
        -webkit-backdrop-filter: blur(1rem);

        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .mobile-nav-toggle{
        position: absolute;
        display: block;
        z-index: 9999;
        background-color: transparent;
        background: url("/img/Hamburger_icon.png");
        background-repeat: no-repeat;
        width: 2.5rem;
        border: 0;
        aspect-ratio: 1;
        top: 1.25rem;
        right: 2rem;
    }

    .primary-navigation[data-visible="true"]{
        transform: translateX(0%);
    }

    .mobile-nav-toggle[aria-expanded="true"]{
        background: url("/img/icon-close.png");
    }

    .navbar{
        background: none;
    }

}

.sr-only {
    position: absolute;
    width: 0px;
    height: 0px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

/* Body */

.main-table{
    max-width: 90%;
}

.title{
    padding-left: 3vh;
    padding-top: 5px;
    text-transform: capitalize;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.page-body{
    margin-left: 10vh;
    margin-top: 5vh;
    background: hsl(0 0% 80% / 0.3);
    margin-right: 10vh;
    border-radius: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.main-link{
    text-decoration: none;
    color: white;
}

.paragraph{
    padding-left: 3vh;
    padding-right: 3vh;
    padding-top: 5px;
    text-align: justify;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

.question{
    padding-left: 3vh;
    padding-right: 3vh;
    padding-top: 5px;
    font-weight: 400;
    font-size: 21px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.directors-picture{
    margin-left: 5px;
    width: 200px;
}

.title-interview{
    padding-left: 3vh;
    padding-top: 5px;
    text-transform: none;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.video{
    padding-left: 3vh;
    padding-right: 3vh;
    padding-top: 5px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
}

.news-immage{
    padding-left: 3vh;
    padding-right: 3vh;
    padding-top: 5px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
}

.quote{
    padding-left: 3vh;
    padding-right: 3vh;
    font-size: 30px;
    padding-top: 5px;
    text-align: center;
}

.signature{
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.button-container{
    padding-left: 3vh;
}

.interparagraph{
    font-size: 18px;
}

.buttons{
    background-color: #00ABE1;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 14px 40px;
    border: black 1px solid;
    color: white;
    cursor: pointer;
}

.buttons-text{
    text-decoration: none;
    color: white;
}

.bottoni{
    display: flex;
    justify-content: center;
}

.image{
    display:block;
    margin:0px auto;
    text-align:center;
}

q{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

cite{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.link-paragraph{
    color: #161F6D;
}

.page-title{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    font-family: 'Lato', sans-serif;
}

.page-subtitle{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
    font-family: 'Lato', sans-serif;
}

.line{
    max-width: 90%;
    margin-left: 5vh;
}

@media (max-width: 55em){
    .paragraph{
        padding-left: 3vh;
        padding-right: 3vh;
        padding-top: 5px;
        text-align: left;
        font-weight: 400;
        font-size: 18px;
    }

    .main-table{
        max-width: 99%;
    }

    .page-body{
        margin-left: 1vh;
        margin-top: 5vh;
        background: hsl(0 0% 80% / 0.3);
        margin-right: 1vh;
        border-radius: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .video{
        padding-left: 1vh;
        padding-right: 1vh;
        padding-top: 5px;
        text-align: center;
        font-weight: 400;
        font-size: 18px;
        max-width: 100%;
    }

    .news-immage{
        padding-left: 1vh;
        padding-right: 1vh;
        padding-top: 5px;
        text-align: center;
        font-weight: 400;
        font-size: 18px;
        max-width: 100%;
    }

    .title{
        padding-left: 3vh;
        padding-right: 3vh;
        padding-top: 5px;
        text-transform: capitalize;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
    }

    .image{
        width: auto;
    }

    .line{
        max-width: 90%;
        margin-left: 3vh;
    }

    .directors-picture{
        margin-left: 5px;
        width: 150px;
    }
}

/* Body end */

/* footer */

footer{
    position: relative;
    margin-top: 10vh;
    bottom: 0;
    background-color: hsl(0 0% 40% / 0.1);
    backdrop-filter: blur(1rem);
    height: auto;
    width: 100vw;
    font-family: 'Oswald', sans-serif;
    padding-top: 40px;
    color: white;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.social{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.social li{
    margin: 0 10px;
}

.social a{
    text-decoration: none;
    color: white;
}

.social a i{
    font-size: 1.5rem;
    transition: color 1s ease;
}

.social a:hover i{
    color: #161F6D;
}

.footer-bottom{
    width: 100vw;
    padding-bottom: 20px;
    text-align: center;
}

.footer-bottom p{
    font-size: 13px;
    word-spacing: 2px;
    text-transform: capitalize;
}

/* footer end */

/* Dark mode */
@media screen and (prefers-color-scheme: dark) {

    body{
        font-family: 'Mochiy Pop One', sans-serif;
        background-color: #161F6D;
        color: white;
    
        overflow-x: hidden;
    
    }

    .nav-links:hover{
        color: #00ABE1;
    }

    ::selection{
        background: #00ABE1;
    }

    .social a:hover i{
        color: #00ABE1;
    }

    .buttons{
        background-color: #161F6D;
        border: none;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 10px;
        padding: 14px 40px;
        border: black 1px solid;
    }

    .link-paragraph{
        color: #00ABE1;
    }

}